<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/mine/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/backbone/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mine/view/mainview.js"></script>
    <script type="text/javascript" src="/javascripts/mine/model/wordmanager.js"></script>
    <script type="text/javascript" src="/javascripts/mine/model/wordpool.js"></script>
    <script type="text/javascript" src="/javascripts/mine/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>